<h1>Sample Directory Report</h1>

<p>[% good_count %] good genomes and [% bad_count %] bad genomes from [% sample_count %] samples.</p>

<table class='p3basic'>
[% PROCESS qual_headers %]
[% FOR s IN samples %]
[% PROCESS qual_row %]
[% END %]
</table>

[% BLOCK qual_headers %]
<tr>
<th>Sample ID</th>
<th>Good Bins</th>
<th>Bad Bins</th>
<th>Total Bins</th>
</tr>
[% END %]

[% BLOCK qual_row %]
<tr>
<td><a target="_blank" href="[% s.sample %]/index.html">[% s.sample %]</a></td>
<td>[% s.good %]</td>
<td>[% s.bad %]</td>
<td>[% s.total %]</td>
</tr>
[% END %]