<html><head>
<style type="text/css">
body {
        font-family: Arial, sans-serif;
        color: #333333;
        font-weight: 200;
        font-size: small;
        background: #FCFCFC;
}
table.p3basic, table.p3basic th,
table.p3basic td, table.p3basic tr {
        border-style: inset;
        border-collapse: collapse;
        vertical-align: top;
        padding: 3px;
}
table.p3basic th {
        text-align: left;
        background: #EEEEEE;
}</style>
<title>[% g.genome_id %] Evaluation</title></head><body>

<h1>Results for [% g.genome_id %]</h1>

<p><a href="https://docs.patricbrc.org//tutorial/metagenomic_binning/metagenomic_output.html#the-genome-report">Tutorial for this page.</a></p>

<table class="p3basic">
<tr>
<th>Genome ID</th><td><a target="_blank" href="[% g.genome_url %]">[% g.genome_id %]</a></td>
</tr><tr>
<th>Genome Name</th><td>[% g.genome_name %]</td>
[% IF g.refs %]
</tr><tr>
<th>Reference Genomes</th>
<td>
[% FOR r IN g.refs %]
<a target="_blank" href="[% r.url %]">[% r.genome %]</a><br />
[% END %]
</td>
[% END %]
</tr><tr>
<th>Coarse consistency (%)</th><td>[% g.scikit_coarse %]</td>
</tr><tr>
<th>Fine consistency (%)</th><td [% g.scikit_color %]>[% g.scikit_fine %]</td>
</tr><tr>
<th>Completeness (%)</th><td [% g.completeness_color %]>[% g.checkg_completeness %]</td>
</tr><tr>
<th>Contamination (%)</th><td [% g.contamination_color %]>[% g.checkg_contamination %]</td>
</tr><tr>
<th>Evaluation Group</th><td>[% g.checkg_group %]</td>
</tr><tr>
<th>Contig count</th><td [% g.contig_color %]>[% g.contigs %]</td>
</tr><tr>
<th>DNA size (bp)</th><td [% g.length_color %]>[% g.dna_bp %]</td>
</tr><tr>
<th>Contigs N50 (bp)</th><td [% g.n50_color %]>[% g.n50 %]</td>
</tr><tr>
<th>Contigs L50</th><td [% g.l50_color %]>[% g.l50 %]</td>
</tr><tr>
<th>Overpresent Roles</th><td>[% g.over_roles %]</td>
</tr><tr>
<th>Underpresent Roles</th><td>[% g.under_roles %]</td>
</tr><tr>
<th>Predicted Roles</th><td>[% g.pred_roles %]</td>
</tr><tr>
<th>Completeness Roles</th><td>[% g.comp_roles %]</td>
</tr><tr>
<th>Total Distinct Roles</th><td>[% g.tot_roles %]</td>
</tr><tr>
<th>Protein-Encoding Genes with Functional Assignment</th><td>[% g.tot_funs %]</td>
</tr><tr>
<th>Protein-Encoding Genes without Functional Assignment</th><td>[% g.tot_hypos %]</td>
</tr><tr>
<th>% Protein-Encoding Feature Coverage</th><td [% g.cds_color %]>[% g.cds_pct %]</td>
</tr><tr>
<th>% Features that are Hypothetical</th><td [% g.hypo_color %]>[% g.hypo_pct %]</td>
</tr><tr>
<th>% Features that are in Local Protein Families</th><td>[% g.plfam_pct %]</td>
[% IF g.coverage %]
</tr><tr>
<th>Mean Coverage</th><td>[% g.coverage %]</td>
[% END %]
</tr>
</table>
<h2>Potentially Problematic Roles</h2>

<h3>Potentially problematic roles in [% g.genome_id %]</h3>

<table class='p3basic'>
<tr>
<th>Role</th>
<th>Predicted<br>count</th>
<th>Annotated<br>count</th>
<th>Feature link</th>
<th>Comment</th>
</tr>
[% FOR r IN p %]
<tr>
<td style=''>[% r.role %]</td>
<td>[% r.predicted %]</td>
<td>[% r.actual %]</td>
[% IF r.n_fids > 0 -%]
<td><a target="_blank" href="[% r.fid_url %]">[% r.n_fids %] feature[% IF r.n_fids > 1 %]s[% END %]</a></td>
[% ELSE -%]
<td>[% r.n_fids %] features</td>
[% END -%]
<td>[% r.comment %]</td>
</tr>
[% END -%]
</table>

<h3>Potentially Problematic Roles by Contig</h3>

[% IF editform %]
<form method="post" action="[% script %]" target="_blank">
<table>
<tr><td>File Name</td><td><input type="text" name="account" size="20" /></td><td><input type="submit" value="Delete Checked Contigs" /></td></tr>
<input type="hidden" name="gtoFile" value="[% gtoFile %]"/>
</table>
[% END -%]
<table class='p3basic'>
<tr>
<th>Contig Name</th>
<th>Length (bp)</th>
<th>Good Features</th>
<th>Feature link</th>
</tr>
[% FOR d IN c %]
<tr>
<td style=''>
[% IF editform %]
<input type="checkbox" name="delete_contig" value="[% d.name %]"
[% UNLESS d.good %]
checked
[% END -%]
/>
[% END -%]
[% d.list_url %]</td>
<td>[% d.len %]</td>
<td>[% d.good %]</td>
<td><a target="_blank" href="[% d.fid_url %]">[% d.n_fids %] feature[% IF d.n_fids > 1 %]s[% END %]</a></td>
</tr>
[% END -%]
</table>
[% IF editform %]
</form>
[% END -%]
</body></html>